.carouselContainer {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;

 .carousel {
  width: 100%;
  overflow: hidden;
  height: auto;

  .slideWrapper {
   display: flex;
   transition: transform 0.5s ease;

   .slide {
    min-width: 100%;
    display: grid;
    gap: 5px;

    grid-template-columns: repeat(2, 1fr);

    @media (min-width: 1024px) {
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, auto);
     gap: 1rem;
    }

    .button {
     background: none;
     border-left: 1px solid var(--PreferredColor);
     border-right: 1px solid var(--PreferredColor);
     border-radius: 12px;
     padding: 0.75rem 0.5rem;
     font-size: 0.8rem;
     text-align: center;
     word-break: break-word;
     cursor: pointer;
     white-space: normal;
     transition: background-color 0.2s;

     &:hover {
      background-color: var(--DetailsBg);
     }
    }
   }
  }
 }

 .dots {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 6px;

  .dot {
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color: gray;
   opacity: 0.4;
   transition: opacity 0.3s;

   &.dotActive {
    opacity: 1;
    background-color: white;
   }
  }
 }
}