.loginContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: var(--Gap);
  justify-content: center;
  align-items: center;

  p,
  label,
  span {
    color: var(--TextGeneral);
  }

  input {
    background-color: var(--TextGeneralReverse);
  }

  .bgImg {
    position: absolute;
    max-width: 100vw;
    pointer-events: none;
  }

  .title {
    margin-top: 120px;
    font-size: 24px;
    color: var(--TextGeneral);
  }

  .inputLogin {
    width: 75vw;
    height: 5vh;
    border-radius: 16px;
    padding: 10px;
  }

  .Pass {
    position: relative;
    width: 75vw;

    input {
      width: 100%;
      height: 5vh;
      border-radius: 16px;
      padding-right: 40px;
    }

    .icon {
      position: absolute;
      right: 15px;
      top: 25%;
      cursor: pointer;
      color: var(--TextGeneral);
      font-size: 1.2rem;

      &:hover {
        color: var(--PreferredColor);
      }
    }
  }

  .navigateBtn {
    color: var(--PreferredColor);
    cursor: pointer;

    &:hover {
      color: var(--PreferredColor);
      text-decoration: underline;
    }
  }

  .bottomLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: var(--Gap);
  }

  .loginBtn {
    width: 50vw;
    border: 1px solid var(--TextGeneral);
    background: none;

    &:hover {
      background-color: var(--PreferredColor);
      color: var(--TextGeneralReverse);
      transform: scale(1.1);
    }
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
  }

  input[type="checkbox"]:checked {
    background-color: var(--PreferredColor);
  }

  .redirect {
    display: flex;
    flex-direction: row;
    gap: var(--Gap);
  }

  .bottomPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Gap2);

    .google {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 3px;
      height: 3px;
      background: none;
      width: 50px;
      height: 50px;
      border: 1px solid var(--TextGeneral);
      border-radius: 50%;

      img {
        width: 50px;
        height: 50px;
      }

      &:hover {
        scale: 1.1;
        background-color: var(--PreferredColor);
      }
    }
  }
}