.loginContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: var(--Gap);
  justify-content: center;
  align-items: center;
  padding: 8px;

  p,
  label,
  span {
    color: var(--TextGeneral);
  }

  input {
    background-color: var(--Bg);
    border: 1px solid var(--TextGeneral);
    z-index: 1;
  }

  .bgImg {
    position: absolute;
    top: -15%;
    left: 0;
    height: 100%;
    object-fit: cove;
    pointer-events: none;
  }

  .title {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    text-align: center;
    color: var(--TextGeneral);
    z-index: 1;
  }

  .inputRegister,
  select {
    width: 90%;
    max-width: 400px;
    height: 45px;
    border-radius: 16px;
    padding: 10px;
    font-size: 1rem;
    background-color: var(--TextGeneralReverse);
    color: var(--TextGeneral);
  }

  .namesInput {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    gap: 10px;

    .inputRegister {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;

      .inputRegister {
        width: 48%;
      }
    }
  }

  .navigateBtn {
    color: var(--PreferredColor);
    cursor: pointer;

    &:hover {
      color: var(--PreferredColor);
      text-decoration: underline;
    }
  }

  .bottomLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: var(--Gap);
    flex-wrap: wrap;
    width: 90%;
    max-width: 400px;
  }

  .loginBtn {
    width: 90%;
    max-width: 300px;
    height: 45px;
    background-color: var(--PreferredColor) !important;
    border: 1px solid var(--TextGeneral);
    border-radius: 16px;
    color: white;
    transition: 0.3s ease;

    &:hover {
      color: var(--TextGeneralReverse);
      transform: scale(1.05);
    }
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
  }

  input[type="checkbox"]:checked {
    background-color: var(--PreferredColor);
  }

  .redirect {
    display: flex;
    flex-direction: row;
    gap: var(--Gap);
  }

  .bottomPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Gap2);

    .google {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: 1px solid var(--TextGeneral);
      border-radius: 50%;
      cursor: pointer;
      background: none;

      img {
        width: 50px;
        height: 50px;
      }

      &:hover {
        transform: scale(1.1);
        background-color: var(--PreferredColor);
      }
    }
  }

  .labelUpload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    max-width: 400px;
    font-weight: bold;
    gap: 5px;
  }

  .previewImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
    border: 2px solid var(--PreferredColor);
  }

  .profilePhotoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }

  .profilePhotoLabel {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #e0e0e0;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profilePhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .addIcon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #007bff;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid white;
  }

  .pass {
    position: relative;
    width: 90%;
    max-width: 400px;

    input {
      width: 100%;
      height: 45px;
      border-radius: 16px;
      padding-right: 40px;
    }

    .icon {
      position: absolute;
      right: 15px;
      top: 25%;
      cursor: pointer;
      color: var(--TextGeneral);
      font-size: 1.2rem;

      &:hover {
        color: var(--PreferredColor);
      }
    }
  }

  .hiddenInput {
    display: none;
  }

  .registerBtn {
    margin-top: 20px;
    width: 90%;
    max-width: 300px;
    height: 45px;
    color: white;
    font-weight: bold;
    border: 1px solid var(--TextGeneral);
    background-color: var(--PreferredColor);
    border-radius: 16px;
    transition: 0.3s ease;

    &:hover {
      background-color: var(--PreferredColor);
      color: var(--White);
      transform: scale(1.05);
    }
  }

  .pBack {
    color: var(--PreferredColor);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  // Ajustes adicionais para telas maiores
  @media screen and (min-width: 1024px) {

    .inputRegister,
    .pass,
    select,
    .registerBtn {
      width: 30vw;
    }

    .title {
      font-size: 2.5rem;
    }

    .bgImg {
      top: -3%;
      width: 100vw;
    }
  }
}