.MainContainer {
  width: 100%;
  height: 100vh;
  padding: 2rem 4rem;
  color: var(--TextGeneralAlt);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;

  .GreetingText {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    p {
      font-size: 1.1rem;
      color: var(--TextSecondary);
    }

    h2 {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .HeroBanner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 200px;
    width: 100%;
    border-radius: 16px;
    padding: 1.5rem;
    background-image: url("../../public/ChatHeroBannerBlur.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
    color: var(--White);
    font-weight: bold;

    &:hover {
      opacity: 0.95;
    }

    .chatButton {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.75rem 1.5rem;
      background-color: var(--PreferredColor);
      color: var(--White);
      font-weight: 600;
      border: none;
      border-radius: 12px;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .InnerContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
      color: var(--TextGeneral);
    }
  }

  .Dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-height: 175px;

    .StatsCardCompact {
      flex: 1;
      min-width: 220px;
      background: var(--UiBgLighter);
      border-radius: 12px;
      padding: 1rem 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 0.5rem;
      max-height: 175px;

      h3 {
        font-weight: 600;
        font-size: 1.25rem;
      }

      p {
        font-size: 2rem;
        font-weight: bold;
        color: var(--TextGeneral);
      }
    }

    .StatsCardSymptoms {
      flex: 2;
      min-width: 280px;
      background: var(--UiBgLighter);
      border-radius: 12px;
      padding: 1rem 1.5rem;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      max-height: 175px;

      &::-webkit-scrollbar {
        display: none;
      }

      h3 {
        margin-bottom: 1rem;
      }

      .SymptomChips {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .Chip {
          padding: 0.35rem 1rem;
          border-radius: 16px;
          border-bottom: 1px solid var(--PreferredColor);
          font-size: 0.9rem;
          pointer-events: none;
          color: var(--TextGeneral);
        }
      }
    }

    .HelpButton {
      margin-top: 1rem;
      padding: 0.6rem 1.2rem;
      background-color: var(--PreferredColor);
      color: var(--White);
      font-weight: 600;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .ContentWrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 100%;
  }

  .History {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .HistoryHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 1.4rem;
        font-weight: bold;
      }

      .ViewMoreButton {
        color: var(--PreferredColor);
        border: none;
        background: none;
        cursor: pointer;
        font-weight: 600;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .InnerHistory {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: large;
        height: 106px;
        padding: 1rem;
        background: var(--UiBgLighter);
        border-radius: 12px;
        cursor: pointer;
        transition: all 0.3s ease;
        color: var(--TextGeneral);
        border: 1px solid var();

        &:hover {
          background-color: var(--PreferredColor);
          transform: scale(1.02);
          color: var(--White);
        }
      }
    }
  }

  // --- SEÇÃO DE ANÁLISE ---
  .Analysis {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .AnalysisTitle {
      font-size: 1.5rem; 
      font-weight: 600;
      color: var(--TextGeneral);
      margin: 0;
      padding-left: 0.5rem;
    }
    
    .AnalysisCard {
      background-color: var(--UiBgLighter); 
      padding: 2rem; 
      border-radius: 15px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
      display: flex;
      flex-direction: column;
      gap: 1.5rem; 
      height: 100%;

      .ProfileSection {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding: 1.5rem;
        border-radius: 8px;
        cursor: pointer;
        background: var(--PreferredColor);
        transition: all 0.2s ease;

        &:hover {
          transform: scale(1.02);
        }

        img {
          width: 80px; 
          height: 80px;
          border-radius: 50%;
          object-fit: cover;
          border: 4px solid var(--DetailsBg);
        }

        .ProfileText {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.3rem;
          color: var(--White);

          strong {
            font-size: 1.3rem;
            font-weight: 600;
          }

          button {
            background: none;
            border: none;
            color: var(--White);
            padding: 0;
            cursor: pointer;
            font-size: 0.9rem;
            font-weight: 500;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .ReportSection {
        border-top: 1px solid var(--DetailsBg);
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-left: 1rem;

        p {
          font-size: 0.95rem;
          color: var(--TextSecondary);
          line-height: 1.6;
          margin: 0;
          strong {
            color: var(--TextGeneral);
            font-weight: 600;
          }
        }
      }
      
      .ViewCompleteButton {
        margin-top: auto;
        align-self: flex-start;
        padding: 0.8rem 2rem;
        margin-left: 1rem;
        background-color: var(--PreferredColor);
        color: white;
        font-weight: 500;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1rem;
        transition: all 0.2s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  @media (max-width: 1023px) {
    padding: 0;
    max-height: 80vh;
    overflow: scroll;
    scrollbar-width: none;    
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
     display: none;   
    }        
    p,
    h2 {
      pointer-events: none;
    }
.bg {
      background-image: url(../../public/ChatHeroBannerBlur.png);
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: auto;
      padding-top: 1rem;
      
    .GreetingText {
      display: flex;
      flex-direction: row;
      gap: var(--Gap);
      color: var(--White);
      
      img{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid var(--PreferredColor);
        margin-left: 16px;
      }
    }

   .DiagnosisInvitation {
      height: 55%;
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      text-align: justify;
      color: var(--White);
      padding-left: 16px;
      padding-top: 50px;
      gap: 20px;

      button {
        height: 50px;
        display: flex;
        color: var(--White);
        background-color: var(--PreferredColor);
        text-align: center;
        font-weight: bolder;
        align-items: center;
        padding: 1rem;
        margin-bottom: 10px;
      }
    } 
  }
    .InnerContainer {
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: var(--Gap2);
    }
   
    .HistoryHeader{
      button {
        color: var(--White);
        background-color: var(--PreferredColor);
      }
    }

    .GridHistorico {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    color: var(--TextGeneral);
  }

  .box {
    background-color: var(--UiBgLighter);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
    transition: transform 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
    }

    > div {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      margin-bottom: 0.25rem;

      span {
        font-size: 1.6rem;
        color: var(--PreferredColor);
      }

      strong {
        font-size: 1rem;
        color:var(--TextGeneral);
      }
    }

    p {
      margin-left: 2rem;
      margin-bottom: 0.25rem;
      font-size: 0.95rem;
      color: var(--TextGeneral);
    }

    small {
      margin-left: 2rem;
      color: var(--TextGeneral);
      font-size: 0.8rem;
    }
  }
  .StatsMobileWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.MobileCard {
  background: var(--UiBgLighter);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;

  h3 {
    color: var(--TextGeneral);
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 2rem;
    font-weight: bold;
    color: var(--TextGeneral);
    margin: 0;
  }
}

.CommonIllnesses {
  h3 {
    color: var(--TextGeneral);
    margin-bottom: 0.5rem;
  }

  .IllnessTags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .Tag {
    background: var(--UiBgLighter);
    padding: 0.4rem 0.75rem;
    border-radius: 8px;
    font-size: 0.85rem;
    color: var(--TextGeneral);
  }
}

.TutorialCard {
  background: var(--PreferredColor);
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  position: relative;
  cursor: pointer;
  
  strong {
    color: var(--White);
    font-size: 1rem;
    margin-top: 1rem;
  }

  p {
    margin: 0;
    color: #aaa;
    font-size: 0.85rem;
  }

  .TutorialImageWrapper {
  position: relative;
  width: 80px;
  height: 80px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    object-fit: fill;
    border: 1px solid var(--White);
  }

  .PlayIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px;
    border-radius: 999px;
  }
  }

}
  .Analysis {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 95%;

  .AnalysisTitle {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--TextSecondary);
    padding-left: 0.5rem;
  }
  
  .AnalysisCard {
    background-color: var(--UiBgLighter);
    padding: 0.5rem;
    border-radius: 12px;
    border: 1px solid var(--DetailsBg);
    box-shadow: none;
    display: flex;
    flex-direction: column;
    gap: 1rem; // Espaçamento interno reduzido
    height: 100%;

    .ProfileSection {
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem; // Espaçamento entre foto e texto ajustado
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--DetailsBg);
      cursor: pointer;

      img {
        width: 60px; // Tamanho da imagem reduzido
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid var(--PreferredColor);
        flex-shrink: 0; // Impede que a imagem encolha
      }

      .ProfileText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        min-width: 0; // Necessário para o text-overflow funcionar em um container flex

        strong {
          color: var(--White);
          font-size: 1.1rem; // Fonte ajustada
          font-weight: 600;
          width: 100%; // Garante que o elemento ocupe o espaço disponível
          
          // --- Ajustes para nomes longos ---
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        button {
          background: none;
          border: none;
          color: var(--PreferredColor);
          padding: 0;
          cursor: pointer;
          font-size: 0.9rem;
          font-weight: 500;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .ReportSection {
      border-top: none;
      padding: 0 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      p {
        font-size: 0.9rem;
        color: var(--TextSecondary);
        line-height: 1.6;
        margin: 0;
        strong {
          color: var(--TextGeneral);
          font-weight: 600;
        }
      }
    }
    
    .ViewCompleteButton {
      margin-top: auto;
      align-self: flex-start;
      padding: 0.8rem 2rem;
      margin-left: 0.5rem;
      // --- Estilo padronizado com outros botões ---
      background-color: var(--PreferredColor);
      color: white;
      font-weight: 500;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 1rem;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.05); // Efeito de hover padrão
      }
    }
  }
}
}

}


