.HistoryContainer {
   display: grid;
   grid-template-rows: auto 1fr;
   width: 90%;
   height: 95%;
   margin: 0 auto;
   padding-bottom: 2%;
   overflow: scroll;
   gap: var(--Gap2);
   position: relative;
   scrollbar-width: none;
   -ms-overflow-style: none;

   @media screen and (min-width: 1028px) {
      height: 100%;
   }

   &::-webkit-scrollbar {
      display: none;
   }
}

.InputWrapper {
   position: sticky;
   top: 10px;
   z-index: 100;
   width: 100%;
   max-width: 500px;
   margin: 0 auto 20px auto;
   padding: 0.5rem 0;

   display: flex;
   align-items: center;
   justify-content: center;
}

.SearchInput {
   width: 100%;
   max-width: 400px;
   padding: 10px 16px 10px 40px;

   border-radius: 8px;
   border: 1px solid var(--PreferredColor);
   font-size: 16px;
   outline: none;
   color: var(--TextGeneral);
   background-color: var(--Bg);
   transition: 0.3s ease;
}

.SearchIcon {
   position: absolute;
   top: 50%;
   left: 12px;
   transform: translateY(-50%);
   color: var(--PreferredColor);
   pointer-events: none;
   font-size: 20px;


}

.DayGroup {
   width: 100%;
   overflow-y: auto;
   padding-right: 10px;
   max-height: calc(95% - 80px);
}

.DateTitle {
   color: var(--TextGeneral);
   margin-bottom: 4px;
   font-weight: bold;
}

.chatListGrid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: var(--Gap2);
   width: 100%;
   list-style: none;
   padding: 10px;


   @media (max-width: 600px) {
      grid-template-columns: 1fr;
   }
}

.chatItem {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: rgba(255, 255, 255, 0.03);
   border: 1px solid var(--PreferredColor);
   border-radius: 16px;
   padding: 16px;
   cursor: pointer;
   transition: 0.3s ease;
   border-right: 8px solid transparent;

   p {
      color: var(--TextGeneral);
      margin: 4px 0;
   }

   &:hover {
      background-color: var(--PreferredColor);

      p {
         color: var(--White);
      }
   }
}

.DeleteAllButton {
   background: transparent;
   border: 1px solid var(--Decline);
   color: var(--Decline);
   cursor: pointer;
   margin-left: 10px;
   padding: 6px 12px;
   border-radius: 6px;
   font-weight: bold;
   transition: color 0.3s, border-color 0.3s;
   background-color: var(--Bg);

   @media screen and (min-width: 1028px) {
      width: 35%;
      padding: 10px 13px;
   }

   &:hover {
      color: var(--White);
      background: var(--Red);
   }
}

.DeleteButton {
   position: absolute;
   top: 10px;
   right: 10px;
   background: transparent;
   border: none;
   color: var(--Decline);
   border: 1px solid var(--Decline);
   cursor: pointer;
   transition: color 0.3s;
   padding: 5px;

   &:hover {
      color: var(--White);
      background: var(--Red);
   }
}