.container {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: var(--TextGeneral);
  background-color: var(--Background);
  color: var(--White);
}

.grid {
  display: grid;
  gap: 1.5rem;
  width: 100%;
  grid-template-columns: 1fr;
}

.card {
  background-color: var(--UiBgLighter, #f9f9f9);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;



  span {
    display: flex;
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
    gap: var(--Gap);
    color: var(--TextGeneral);
  }
}

.switch {
  position: relative;
  width: 50px;
  height: 26px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    background-color: var(--Bg);
    border-radius: 26px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;



    &:before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      background: var(--UiBg);
      border-radius: 50%;
      left: 3px;
      bottom: 3px;
      transition: 0.4s;
    }
  }

  input:checked+.slider {
    background-color: var(--PreferredColor);

    &:before {
      transform: translateX(24px);
    }
  }
}

.select {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid var(--PreferredColor);
  color: var(--TextGeneral);
  font-size: 1rem;
  cursor: not-allowed;
  background: none;

  @media (min-width: 768px) {
    min-width: 250px;
    font-size: 1.125rem;
  }
}

.primaryButton,
.dangerButton,
.AboutBtn {
  max-width: 100%;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  border: 2px solid;
  cursor: pointer;
  transition: 0.3s ease;

  @media (min-width: 768px) {
    min-width: 250px;
    font-size: 1.125rem;
  }

  &:hover {
    border: 1px solid var(--DetailsBg);
  }
}

.primaryButton {
  color: var(--PreferredColor);
  border-color: var(--PreferredColor);
  background: none;

  &:hover {
    background-color: var(--PreferredColor);
    color: var(--TextGeneral);
  }
}

.AboutBtn {
  border-color: var(--PreferredColor);
  background: none;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: var(--TextGeneral);

  @media (min-width: 768px) {
    text-align: center;
    justify-content: center;
  }

  &:hover {
    background-color: var(--PreferredColor);
    color: var(--White);
  }
}

.dangerButton {
  display: flex;
  justify-content: center;
  color: var(--Red);
  border-color: var(--Red);
  background: none;

  &:hover {
    background-color: var(--Red);
    color: var(--White);
  }
}