.inputBar {
  display: flex;
  align-items: center;
  gap: var(--Gap);
  color: var(--TextGeneral);
  box-sizing: border-box;
  width: 100%;
  overflow-x: auto;
  padding: 0.5rem;

  .inputTextField {
    flex: 1;
    min-width: 0; // Para não forçar o layout a crescer além do necessário
    height: 45px;
    border-radius: 50px;
    border: 1px solid var(--DetailsBg);
    padding: 10px 16px;
    background-color: var(--Bg);
    color: var(--TextGeneral);
    font-size: 1rem;
    box-sizing: border-box;

    @media (max-width: 480px) {
      height: 40px;
      padding: 8px 12px;
      font-size: 0.9rem;
    }
  }

  .inputAudioBtn,
  .inputAudioBtnRecording,
  .inputSendBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    flex-shrink: 0;

    @media (max-width: 480px) {
      width: 42px;
      height: 42px;
    }
  }

  .inputAudioBtn {
    border: 1px solid var(--DetailsBg);

    &:hover {
      transform: scale(1.1);
    }
  }

  .inputAudioBtnRecording {
    border: 2px solid red;
    animation: pulse 1.5s infinite;
  }

  .inputSendBtn {
    background-color: var(--DetailsBg);
    cursor: pointer;
    color: var(--White);
  }

  .innerBtns,
  .innerBtnsRecording {
    width: 60%;
    min-width: 20px;
    height: 60%;
    min-height: 20px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;


    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }

  .innerBtnsRecording {
    color: red;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    50% {
      transform: scale(1.1);
      box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }

    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
  }
}

  @media screen and (min-width: 1024px) {
    
    .inputBar {
      .inputTextField {
        height: 60px;
      }

      .inputAudioBtn,
      .inputAudioBtnRecording,
      .inputSendBtn {
        height: 60px;
        width: 60px;
      }      
    }

  }